- title "Competitions"

%h3.next_competition
  Next
  = link_to "competition", competition_path(@competitions.last)
  starts in
#countdown

%h4
  Past competitions
  %ul
  - @competitions.reverse.each do |competition|
    %li= link_to competition.display_name, competition_path(competition)

:coffeescript
  $ ->
    next_competition = new Date("#{@competitions.last.start_date}")

    $('#countdown').countdown
      until: next_competition