%ul.navigation
  %li= link_to_unless_current "Competitions", competitions_path
  %li= link_to_unless_current "Current competition", competition_path(Competition.last)
  - if current_user
    %li= link_to_unless_current "Profile", edit_user_path(current_user)