h1, h2, h3, h4, h5
  font-family: 'Varela Round', sans-serif

body
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif

#login_link
  position: absolute
  top: 5px
  right: 40px

.centered_text
  text-align: center

.ui-icon-calendar
  background-image: url(/assets/blitzer/ui-icons_cc0000_256x240.png)
  height: 16px
  position: absolute
  right: 5px
  top: 35px
  width: 16px

.relative
  position: relative